@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@200&display=swap');
*{margin: 0; padding: 0;}

/* Header */
.header__logo{
    position: absolute;
    width: 166px;
    height: 47px;
    left: 147px;
    top: 61px;
    font-family: 'M PLUS 1p';
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    color: #30124E;
    text-decoration: none;
}
.header__link{
    font-family: 'M PLUS 1p';
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #30233D;
    text-decoration: none;
    margin-right: 54px;
}

.header__link:hover{
    color: #5b00b7;
}

.header__list{
    position: absolute;
    width: 500px;
    height: 31px;
    left: 901px;
    top: 72px;
}

.header__burger{
    display: none;
}
@media (max-width: 992px){

    .header__burger{
        display: block;
        position: relative;
        width: 27px;
        height: 12px;
        margin-left: 950px;
        margin-top: 30px;
    }

    .header__burger span{
        content: '';
        background-color: #30233D;
        position: absolute;
        width: 27px;
        height: 2px;
        left: 0;
        top: 5px;
    }
    .header__burger::before{
        content: '';
        background-color: #30233D;
        position: absolute;
        width: 27px;
        height: 2px;
        left: 0;
        top: 0;
    }
    .header__burger:after{
        content: '';
        background-color: #30233D;
        position: absolute;
        width: 18px;
        height: 1.5px;
        right: 0;
        bottom: 0;
    }
}

.header__photo{
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    top: 144px;
}

.header__photo-text_red{
    position: absolute;
    width: 754px;
    height: 90px;
    left: 147px;
    top: 252px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 80px;
    color: #F61067;
}

.header__photo-text_white{
    position: absolute;
    width: 363px;
    height: 54px;
    left: 146px;
    top: 342px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #F4F4ED;
}


/* Intro */
.map{
    position: absolute;
    left: 5.57%;
    right: 5.54%;
    top: 736px;
    bottom: 78.52%;
    z-index: -1;
}


.intro h2{
    position: absolute;
    width: 362px;
    height: 38px;
    left: 539px;
    top: 612px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}

.intro p{
    position: absolute;
    width: 754px;
    height: 72px;
    left: 343px;
    top: 665px;
    width: 754px;
    height: 72px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #30233D;
}

.intro__box1 h1{
    position: absolute;
    width: 362px;
    height: 118px;
    left: 147px;
    top: 810px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
    text-align: center;
    color: #F61067;
}
.intro__box1 h3{
    position: absolute;
    width: 362px;
    height: 24px;
    left: 147px;
    top: 1001px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #30233D;
}
.intro__box2 h1{
    position: absolute;
    width: 362px;
    height: 118px;
    left: 539px;
    top: 820px;
    font-family: 'M Plus 1p';
    font-style: normal;
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
    text-align: center;
    color: #5E239D;
}
.intro__box2 h3{
    position: absolute;
    width: 362px;
    height: 24px;
    left: 539px;
    top: 1000px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #30233D;
}
.intro__box3 h1{
    position: absolute;
    width: 362px;
    height: 118px;
    left: 931px;
    top: 820px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
    text-align: center;
    color: #00F0B5;
}
.intro__box3 h3{
    position: absolute;
    width: 362px;
    height: 24px;
    left: 931px;
    top: 1002px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #30233D;
}


/* Services */
.services__sect h2{
    position: absolute;
    left: 622px;
    top: 1204px;
    width: 362px;
    height: 36px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}
.services__sect h1{
    position: absolute;
    left: 539px;
    top: 1208px;
    width: 362px;
    height: 67px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #30233D;
}
.services__sect p{
    position: absolute;
    width: 558px;
    height: 111px;
    left: 441px;
    top: 1325px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #30233D;
}

.services__sect-box1 h1{
    left: 0;
    top: 0;
    width: 0;
    margin-top: 90px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #00F0B5;
}
.services__sect-box1 p{
    left: 0;
    top: 0;
    margin-top: 144px;
    width: 318px;
    height: 80px;
    text-align: left;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
}
.services__sect-box1{
    width: 318px;
    height: 224px;
    position: absolute;
    left: 146px;
    top: 1494px;
}

.services__sect-box2 h1{
    width: 0;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F61067;
    left: 0;
    top: 0;
    margin-top: 90px;
}
.services__sect-box2 p{
    top: 0; left: 0;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
    margin-top: 144px;
    text-align: left;
    width: 318px;
    height: 250px;
}
.services__sect-box2{
    width: 318px;
    height: 250px;
    position: absolute;
    left: 539px;
    top: 1494px;
}

.services__sect-box3 h1{
    width: 0;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F67110;
    top: 0; left: 0;
    margin-top: 90px;
}
.services__sect-box3 p{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
    top: 0; left: 0;
    margin-top: 144px;
    width: 318px;
    height: 80px;
    text-align: left;
}
.services__sect-box3{
    position: absolute;
    left: 932px;
    top: 1496px;
}

.services__sect-box4 h1{
    width: 0;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F67110;
    top: 0; left: 0;
    margin-top: 90px;
}
.services__sect-box4 p{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
    top: 0; left: 0;
    margin-top: 144px;
    width: 318px; height: 106px;
    text-align: left;
}
.services__sect-box4{
    position: absolute;
    top: 1800px;
    left: 147px;
}

.services__sect-box5 h1{
    width: 0;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #00F0B5;
    top: 0; left: 0;
    margin-top: 90px;
}
.services__sect-box5 p{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
    top: 0; left: 0;
    width: 318px;
    height: 80px;
    text-align: left;
    margin-top: 144px;
}
.services__sect-box5{
    position: absolute;
    top: 1800px;
    left: 540px;
}

.services__sect-box6 h1{
    width: 0;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F61067;
    top: 0;
    left: 0;
    margin-top: 90px;
}
.services__sect-box6 p{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
    top: 0; left: 0;
    margin-top: 144px;
    width: 318px;
    height: 106px;
    text-align: left;
}
.services__sect-box6{
    position: absolute;
    top: 1800px;
    left: 933px;
}


/* Information */
.information__section h2{
    position: absolute;
    top: 2232px;
    left: 615px;
    width: 149px;
    height: 24px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}
.information__section h1{
    position: absolute;
    top: 2235px;
    left: 554px;
    width: 271px;
    height: 67px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #30233D;
}
.information__section p{
    position: absolute;
    top: 2358px;
    left: 411px;
    width: 558px;
    height: 111px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #30233D;
}

.text__box-1 h2, .text__box-2 h2, .text__box-3 h2{
    top: 0; left: 0;
    text-align: left;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #F61067;
    width: 304px; height: 36px;
    margin-top: 108px;
}
.text__box-2 h2{
    margin-left: 833px;
}
.text__box-1 h1, .text__box-2 h1, .text__box-3 h1{
    top: 0; left: 0;
    margin-top: 144px;
    width: 460px; height: 90px;
    text-align: left;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    color: #30233D;
}
.text__box-2 h1{
    margin-left: 833px;
}
.text__box-1 p, .text__box-2 p, .text__box-3 p{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #776C82;
    width: 470px; height: 97px;
    top: 0; left: 0;
    margin-top: 252px;
    text-align: left;
}
.text__box-2 p{
    margin-left: 833px;
}

.information__section-box1{
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 2574px;
    left: 147px;
    width: 1293px;
    height: 450px;
}
.information__section-box2{
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 3132px; left: 0;
    width: 1293px; height: 468px;
}
.information__section-box3{
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 3708px;
    left: 147px;
    width: 1293px;
    height: 468px;
}

/* Testimonials */
.testimonials__section-bg{
    position: absolute;
    width: 1440px;
    height: 774px;
    top: 4482px;
    background: #FCFCFC;
}
.main__img{
    position: absolute;
    top: 4356px; left: 490px;
}
.people__img{
    position: absolute;
    top: 4524px; left: 108px;
    width: 1268px; height: 349px;
}
.check-mark__img{
    position: absolute;
    top: 4784.34px; left: 679.3px;
}
.testimonials__section p{
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    color: #30233D;
    width: 754px; height: 128px;
    position: absolute;
    top: 4932px; left: 343px;
}
.quote-author{
    display: flex;
    position: absolute;
    width: 460px; height: 30px;
    top: 5070px; left: 570px;
}
.quote-author h2, .quote-author h3{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 29px;
    color: #30233D;
}
.quote-author h2{
    color: #F61067;
    font-weight: 800;
    font-size: 18px;
}

/* Newsletter */
.newsletter__section{
    position: absolute;
    top: 5382px; left: 413px;
    width: 613px; height: 219px;
}
.newsletter__section h1{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #30233D;
}
.newsletter__section h2{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #776C82;
}
.email-form{
    display: flex;
    margin-left: 30px;
    margin-top: 45px;
    border-bottom: 3px solid #F4F4ED;
    width: 558px;
}
.email-form input{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 4px;
    color: #30233D;
    width: 332px;
    border: 0;
    padding-left: 20px;
}
.email-form input::placeholder{
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.email-form input:focus{
    outline: 1px solid #9b90a749;
}
.email-form button{
    border: 0;
    display: flex;
    align-items: center;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
    padding-left: 27px; padding-right: 27px;
    width: 226px; height: 54px;
    background: linear-gradient(180deg, 
    rgba(242, 242, 242, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    cursor:pointer;
}
.email-form button:hover{
    background: linear-gradient(180deg, 
    #73549238 0%, rgba(255, 255, 255, 0) 100%);
}
.email-form button p{
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.email-form button img{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 12px;
}

/* Footer */
footer{
    position: absolute;
    width: 1440px;
    height: 558px;
    background: #150433;
    top: 5749px;
    color: white;
}
.footer-flex{
    display: flex;
}
.footer-block{
    display: flex;
}
.footer-logo{
    width: 99px;
    height: 43px;
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    margin-top: 119px;
    margin-left: 148px;
}
.footer-text{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    width: 166px;height: 53px;
    margin-left: 148px;
}

.footer-block a{
    text-decoration: none;
    color: #FCFCFC;
}
.footer-block hr{
    background: #F61067;
    width: 54px;
    height: 1px;
    border: 0;
}

.footer-menu{
    margin-left: 128px;
    margin-top: 119px;
}
.footer-menu h2{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;  
    letter-spacing: 6px;
    text-transform: uppercase;
}
.footer-menu__nav{
    width: 58px;
    height: 169px;
    font-family: 'M plus 1p';
    font-style: bold;
    font-weight: 500;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-top: 27px;
}

.footer-services{
    margin-top: 119px;
    margin-left: 135px;
}
.footer-services hr{
    width: 103px;
}
.footer-services h2{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.footer-services__nav{
    width: 63px; height: 113px;
    font-family: 'M plus 1p';
    font-style: bold;
    font-weight: 500;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-top: 27px;
}

.footer-contact{
    width: 200px; height: 123px;
    margin-left: 100px;
    margin-top: 117px;
}
.footer-contact h2{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.footer-contact hr{
    width: 135px;
}
.footer-contact__nav{
    margin-top: 27px;
}
.footer-contact__nav div{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 7px;
    width: 300px;
}
.footer-contact__nav div img{
    margin-right: 20px;
    width: 12px;
}

.footer-follow{
    width: 250px;
    height: 90px;
    margin-top: 119px;
    margin-left: 100px;
}
.footer-follow h2{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.footer-follow hr{
    width: 122px;
}
.messenger{
    margin-top: 44px;
}
.messenger img{
    margin-right: 25px;
}
.footer-text2{
    font-family: 'M plus 1p';
    font-style: normal;
    font-weight: 400;
    font-size: 11.7px;
    line-height: 19px;
    margin-left: 442px;
    margin-top: 64px;
}