@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@200&display=swap');

body {
    color: #30233D;
    font-family: "M PLUS 1p";
    font-size: 16px;
    line-height: calc(24 / 16);
    background: #FFFFFF;
}

h1,
.h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: calc(80 / 54);
}

h2,
.h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: calc(66 / 45);
}

h3,
.h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: calc(40 / 27);
}

h4,
.h4 {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(37 / 18);
}

.color-light-grey {
    color: #F4F4ED;
}

.color-white {
    color: #FCFCFC;
}

.color-red {
    color: #F61067;
}

.color-green {
    color: #00F0B5;
}

.color-orange {
    color: #F67110;
}

.color-violet {
    color: #5E239D;
}

.color-grey {
    color: #776C82;
}

.head-accent {
    color: #F61067;
    font-weight: 800;
    font-size: 12px;
    line-height: calc(26 / 12);
    letter-spacing: 6px;
}

.intro__item-title {
    font-weight: 900;
    font-size: 99px;
    line-height: calc(118 / 99);
}

.intro__item-description {
    font-weight: 800;
    font-size: 13px;
    line-height: calc(26 / 13);
    letter-spacing: 6px;
    text-transform: uppercase;
}

.line {
    background: #F61067;
    height: 1px;
    width: 100px;
    border: 0;
}

.reset-styles {
    text-decoration: none;
    color: #F4F4ED;
}

.container {
    width: 100%;
    max-width: 80%; /* не знайшов де написан */
    margin: 0 auto;
}


/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.header__logo {
    color: #30124E;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(43 / 24);
    letter-spacing: 2px;
}

.header__list {
    list-style-type: none;
    display: flex;
}

.header__menu-link {
    color: #30233D;
    font-weight: 800;
    font-size: 14px;
    line-height: calc(30 / 14);
    letter-spacing: 2px;
    margin-right: 54px;
}

.header__menu-link:hover {
    color: #5b00b7;
}

.header__burger {
    display: none;
    border: 0;
    background: none;
}

@media (max-width: 992px) {

    .header__burger{
        display: block;
    }
}

/* Hero */
.hero__content::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../../static/img/header__photo.png') no-repeat top center / contain;
}

.hero__title {
    height: 60px;
    padding-top: 108px;
}

.hero__description {
    font-size: 18px;
    letter-spacing: 4px;
    padding-bottom: 108px;
}


/* Intro */
.intro__content {
    text-align: center;
    padding-top: 80px;
}

.intro__content::before {
    content: '';
    position: absolute;
    left: 50px;
    z-index: -1;
    top: 770px;
    width: 1280px;
    height: 617px;
    background: url('../../static/img/Map.png');
}

.intro__description {
    padding-top: 15px;
    width: 754px;
    margin: 0 auto;
}

.intro__content-boxes {
    display: flex;
    justify-content: space-between;
}

.intro__item{
    width: 362px;
}

.intro__item-title{
    padding-top: 100px;
    margin: 0;
}


/* Services */
.services__content {
    padding-top: 130px;
    text-align: center;
}

.services__item {
    text-align: left;
}

.services-description {
    width: 558px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(29 / 18);
}

.services__list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 100px;
}

.services__item {
    width: 320px;
    height: 225px;
    padding-bottom: 55px;
    padding-right: 40px;
}

.services__item-description{
    width: 310px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
}
.services__item-title{
    font-weight: 500px;
    font-size: 18px;
    line-height: calc(27 / 18);
}














