@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@200&display=swap');

body {
    color: #30233D;
    font-family: "M PLUS 1p";
    font-size: 16px;
    line-height: calc(24 / 16);
    background: #FFFFFF;
}

h1, .h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: calc(80 / 54);
}
h2, .h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: calc(66 / 45);
}
h3, .h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: calc(40 / 27);
}
h4, .h4 {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(37 / 18);
}
h5, .h5{
    font-size: 18px;
    font-weight: 500px;
    line-height: calc(27 / 18);
}
h6, .h6{
    font-size: 18px;
    font-weight: 800;
    line-height: calc(37 / 18);
    letter-spacing: 4px;
}
p, .p{
    font-size: 18px;
    font-weight: 800;
    line-height: calc(29 / 18);
}

.color-light-grey{
    color: #F4F4ED;
}
.color-white{
    color: #FCFCFC;
}
.color-red {
    color: #F61067;
}
.color-green {
    color: #00F0B5;
}
.color-orange {
    color: #F67110;
}
.color-violet {
    color: #5E239D;
}
.color-grey{
    color: #776C82;
}

.head-accent {
    color: #F61067;
    font-weight: 800;
    font-size: 12px;
    line-height: calc(26 / 12);
    letter-spacing: 6px;
}

.intro-accent-h2{
    font-weight: 900;
    font-size: 99px;
    line-height: calc(118 / 99);
}
.intro-accent-h3{
    font-weight: 800;
    font-size: 13px;
    line-height: calc(26 / 13);
    letter-spacing: 6px;
    text-transform: uppercase;
}

.line{
    background: #F61067;
    height: 1px;
    width: 100px;
    border: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Header */
.header__logo {
    
}

.header__link {
    
}

.header__link:hover {
    color: #5b00b7;
}

.header__list {

}

.header__burger {
    display: none;
}

@media (max-width: 992px) {
    
    .container{
        max-width: 100%;
        margin: 0 auto;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 27px;
        height: 12px;
        margin-left: 950px;
        margin-top: 30px;
    }

    .header__burger span {
        content: '';
        position: absolute;
        background-color: #30233D;
        width: 27px;
        height: 2px;
    }

    .header__burger::before {
        content: '';
        position: absolute;
        top: 5px;
        background-color: #30233D;
        width: 27px;
        height: 2px;
    }

    .header__burger:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 9px;
        background-color: #30233D;
        width: 18px;
        height: 2px;
    }
}

.hero__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../../static/img/header__photo.png') no-repeat top center / contain;
}