@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@200&display=swap');

body {
    color: #30233D;
    font-family: "M PLUS 1p";
    font-size: 16px;
    line-height: calc(24 / 16);
    background: #FFFFFF;
}

h1,
.h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: calc(80 / 54);
}

h2,
.h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: calc(66 / 45);
}

h3,
.h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: calc(40 / 27);
}

h4,
.h4 {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(38 / 18);
}

.color-light-grey {
    color: #F4F4ED;
}

.color-white {
    color: #FCFCFC;
}

.color-red {
    color: #F61067;
}

.color-green {
    color: #00F0B5;
}

.color-orange {
    color: #F67110;
}

.color-violet {
    color: #5E239D;
}

.color-grey {
    color: #776C82;
}

.head-accent {
    color: #F61067;
    font-weight: 800;
    font-size: 12px;
    line-height: calc(26 / 12);
    letter-spacing: 6px;
}

.intro__item-title {
    font-weight: 900;
    font-size: 99px;
    line-height: calc(118 / 99);
}

.intro__item-description {
    font-weight: 800;
    font-size: 13px;
    line-height: calc(26 / 13);
    letter-spacing: 6px;
    text-transform: uppercase;
}

.line {
    background: #F61067;
    height: 1px;
    width: 100px;
    border: 0;
}

.reset-styles {
    text-decoration: none;
    color: #F4F4ED;
}

.container {
    width: 100%;
    max-width: calc(1146px + 20px);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.header__logo {
    color: #30124E;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(43 / 24);
    letter-spacing: 2px;
}

.header__list {
    list-style-type: none;
    display: flex;
}

.header__menu-link {
    color: #30233D;
    font-weight: 800;
    font-size: 14px;
    line-height: calc(30 / 14);
    letter-spacing: 2px;
    margin-right: 54px;
}

.header__menu-link:hover {
    color: #5b00b7;
}

.header__burger {
    display: none;
    border: 0;
    background: none;
}

@media (max-width: 992px) {

    .header__burger {
        display: block;
    }
}

/* Hero */
.hero {
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../../static/img/header__photo.png') no-repeat top center / cover;
}

.hero__content {
    padding: 108px 0;
}

.hero__title {
    margin: 0;
}

.hero__description {
    letter-spacing: 4px;
    margin: 0;
}


/* Intro */
.intro__content {
    text-align: center;
    padding-top: 80px;
}

/*.intro__content::before {
    content: '';
    position: absolute;
    left: 50px;
    z-index: -1;
    top: 770px;
    width: 1280px;
    height: 617px;
    background: url('../../static/img/Map.png');
}*/

.intro__description {
    padding-top: 15px;
    /*width: 754px;*/
    margin: 0 auto;
}

.intro__content-boxes {
    display: flex;
    justify-content: space-between;
}

.intro__item {
    width: 362px;
}

.intro__item-title {
    padding-top: 100px;
    margin: 0;
}


/* Services */
.services__content {
    padding-top: 130px;
    text-align: center;
}

.services__item {
    text-align: left;
}

.services-description {
    width: 558px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(29 / 18);
}

.services__list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 100px;
}

.services__item {
    width: 320px;
    height: 225px;
    padding-bottom: 55px;
    padding-right: 40px;
}

.services__item-description {
    width: 310px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
}

.services__item-title {
    font-weight: 500px;
    font-size: 18px;
    line-height: calc(27 / 18);
}


/* Information */
.information__content {
    margin-top: 110px;
    text-align: center;
}

.information__content-description {
    width: 558px;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(28 / 18);
    margin: 0 auto;
}

.box {
    padding-top: 100px;
    display: flex;
    align-items: center;
    margin: 0 -15px;
}

.box:nth-of-type(2n - 1) .box-preview {
    order: 1;
}

.box-preview {
    width: 50%;
    flex: 1 0 auto;
    padding: 0 15px;
}

.box-img {
    max-width: 100%;
}

.box-text {
    width: 50%;
    flex: 1 0 auto;
    text-align: left;
    padding: 0 15px;
}

.box-number {
    font-size: 18px;
    line-height: calc(37 / 18);
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
}

.box-title {
    max-width: 460px;
    padding: 0;
    margin: 0;
}

.box-description {
    max-width: 450px;
}


/* Testimonials */
/* .testimonials__content {}

.testimonials__content::before {}

.main__img {}

.people__img {}

.check-mark__img {}

.testimonials__content-title {}

.quote-author {}

.quote-author-title {}

.quote-author-description {} */


/* Newsletter */
.newsletter {
    padding-top: 130px;
    padding-bottom: 150px;
}

.newsletter__content {
    text-align: center;
}

.newsletter__content-description {
    font-size: 18px;
}

.email-form {
    display: flex;
    justify-content: center;
}

.email-form__input {
    width: 280px;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(40 / 17);
    letter-spacing: 3px;
    border: 0;
    border-bottom: 3px solid #F4F4ED;
    color: #30124E;
    padding-left: 10px;
}

.email-form__input::placeholder {
    font-weight: 800;
    font-size: 16px;
    line-height: calc(37 / 18);
    letter-spacing: 4px;
    color: #9B94A3;
}

.email-form__input:focus {
    outline: 1px solid rgba(128, 128, 128, 0.574);
}

.email-form__button {
    width: 226px;
    height: 54px;
    border: 0;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0.569) 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    cursor: pointer;
}

.email-form__button:hover {
    background: linear-gradient(180deg, #7b3cba53 0%, rgba(242, 242, 242, 0.609) 100%);
}

.button-title {
    font-weight: 800;
    font-size: 13px;
    line-height: calc(26 / 12);
    letter-spacing: 6px;
    display: flex;
    align-self: center;
    padding-left: 27px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


/* Footer */
.footer {
    color: #fff;
    background: #150433;
}

.footer__content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.footer__group {
    flex: 2 0 auto;
    padding: 0 15px;
}
.footer__group:first-of-type,  .footer__group:last-of-type {
    flex: 3 0 auto;
}

@media screen and (max-width: 992px) {

}


.footer__group-nav {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-weight: 900;
    font-size: 24px;
    line-height: calc(43 / 24);
    letter-spacing: 2px;
}

.footer-logo-title {
    width: 166px;
}

.footer__menu {
    padding-left: 195px;
    padding-right: 130px;
}

.footer__services {
    padding-right: 80px;
}

.footer__contact {
    padding-right: 50px;
}

.menu__nav,
.services__nav {
    padding-top: 26px;
    width: 60px;
}

.footer__follow {
    width: 260px;
}

.follow__nav {
    width: 250px;
    padding-top: 45px;
}

.follow__link {
    padding-right: 25px;
}

.menu-title,
.services-title,
.contact-title,
.follow-title {
    font-size: 13px;
    line-height: calc(26 / 13);
    letter-spacing: 6px;
}

.menu-line,
.services-line,
.contact-line,
.follow-line {
    margin: 0;
    height: 1px;
    border: 0;
    background: #F61067;
}

.menu-line {
    width: 54px;
}

.services-line {
    width: 103px;
}

.contact-line {
    width: 135px;
}

.follow-line {
    width: 122px;
}

.menu__link,
.services__link {
    font-weight: 700;
    font-size: 13px;
    line-height: calc(28 / 13);
    letter-spacing: 1px;
}

.menu__link:hover, .services__link:hover, .contact__link:hover{
    color: #F61067;
    text-shadow: lightskyblue 3px 0 5px;
}

.contact-phone {
    padding-bottom: 20px;
}

.contact__link {
    padding-left: 15px;
}

.contact__nav {
    padding-top: 25px;
}

.footer__bottom {
    padding-top: 65px;
}

.footer__bottom-title {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(19 / 12);
    padding-left: 360px;
}
