@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@200&display=swap');

body {
    color: #30233D;
    font-family: "M PLUS 1p";
    font-size: 16px;
    line-height: calc(24 / 16);
    background: #FFFFFF;
}

h1,
.h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: calc(80 / 54);
}

h2,
.h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: calc(66 / 45);
}

h3,
.h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: calc(40 / 27);
}

h4,
.h4 {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(37 / 18);
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 500px;
    line-height: calc(27 / 18);
}

h6,
.h6 {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(37 / 18);
    letter-spacing: 4px;
}

p,
.p {
    /*категорично ні, базові стилі для параграфа задані на body*/
    font-size: 18px;
    font-weight: 800;
    line-height: calc(29 / 18);
}

.color-light-grey {
    color: #F4F4ED;
}

.color-white {
    color: #FCFCFC;
}

.color-red {
    color: #F61067;
}

.color-green {
    color: #00F0B5;
}

.color-orange {
    color: #F67110;
}

.color-violet {
    color: #5E239D;
}

.color-grey {
    color: #776C82;
}

.head-accent {
    color: #F61067;
    font-weight: 800;
    font-size: 12px;
    line-height: calc(26 / 12);
    letter-spacing: 6px;
}

.intro-accent-h2 {
    font-weight: 900;
    font-size: 99px;
    line-height: calc(118 / 99);
}

.intro-accent-h3 {
    font-weight: 800;
    font-size: 13px;
    line-height: calc(26 / 13);
    letter-spacing: 6px;
    text-transform: uppercase;
}

.line {
    background: #F61067;
    height: 1px;
    width: 100px;
    border: 0;
}

a {
    /*ні, для цього зроби собі хелпер-клас для ресету стилів на єлементах*/
    /*типу .reset-styles*/
    text-decoration: none;
    color: #F4F4ED;
}

.container {
    max-width: 80%; /* там э конкретні  розміри контейнера, не видумуй */
    margin: 0 auto;
}

/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
    margin-bottom: 36px;
    margin-left: 10px;
    /*ти знаєш різницю між маржой і паддінгами? тут не доречно використовувати маржу, так я це зовні відступи!*/
    /*навіщо там маржін-лефт?? все повиннот просто бути обмежене контейнером*/
}

.header__logo {
    color: #30124E;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(43 / 24);
    letter-spacing: 2px;
}

.header__list {
    list-style-type: none;
    display: flex;
}

.header__menu-link {
    color: #30233D;
    font-weight: 800;
    font-size: 14px;
    line-height: calc(30 / 14);
    letter-spacing: 2px;
    margin-right: 54px;
}

.header__menu-link:hover {
    color: #5b00b7;
}

.header__burger {
    display: none;
}

@media (max-width: 992px) {

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 27px;
        height: 12px;
        margin-left: 950px;
        margin-top: 30px;
    }

    .header__burger span {
        content: '';
        position: absolute;
        background-color: #30233D;
        width: 27px;
        height: 2px;
    }
    /*
    навіщо ці понти? іноку свг просто з макету дістань)
    і навіо там абсолют??
     */

    .header__burger::before {
        content: '';
        position: absolute;
        top: 5px;
        background-color: #30233D;
        width: 27px;
        height: 2px;
    }

    .header__burger:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 9px;
        background-color: #30233D;
        width: 18px;
        height: 2px;
    }
}

/* Hero */
.hero__content::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../../static/img/header__photo.png') no-repeat top center / contain;
}

.hero__content-h1 {
    padding-top: 108px;
    height: 60px;
}

.hero__content-p {
    padding-bottom: 108px;
}


/* Intro */
.intro__content {
    width: 1146px;
}

.intro__content::before {
    content: '';
    position: absolute;
    left: 70px;
    z-index: -1;
    top: 730px;
    width: 1280px;
    height: 617px;
    background: url('../../static/img/Map.png');
}

.intro__content-h3 {
    margin-top: 108px;
    width: 13%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 108px;
    /*дублюєш стилі, також треба притримуватись якоїсь єдиної моделі їх написання*/
    /*не зручно читати коли воно все намішане. мається на увазі спочатку розміри, потім ззовнішні відступи*/
}

.intro__content-p {
    margin: 0;
    width: 754px;
    margin: 0 auto;
    text-align: center;
    /*дублюєш стилі,*/
}

.intro__content-boxes {
    display: flex;
    margin-top: 10px;
}

.intro__content-box-1,
.intro__content-box-2,
.intro__content-box-3 {
    width: 362px;
    text-align: center;
}

.intro-accent-h3 {
    margin-top: -80px;
}

/* Services */
.services__content {
    margin-top: 170px;
}

.services-h2,
.services-p,
.services-h3 {
    text-align: center;
    /*чому не задати всьому блоку?*/
}

.services-p {
    width: 558px;
    /*height: 111px; о це дуже погано, а якщо тексту стане більше? чому ти вирішив що текст в дищайні, це робочий контент? все має бути респонсів*/
    margin: 0 auto;
}

.services-h2 {
    margin: 0 auto;
}

.services__list {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    /*чому не  дати цей стиль для services__list*/
}

.services__item {
    width: 320px;
    height: 224px;
    margin-bottom: 120px;
    margin-right: 30px;
}

.services__item-p{
    width: 310px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
}
.services__item-h5{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 27px;
}















.people__img{
    width: 200px;
}
